{
  "CONFIG_PATH": "cfg\\main.json",
  "CONFIG_RELOAD_TIME": 1,
  "LOG_LEVEL": "INFO",
  "QUEUE_PASSWORD": "",
  "QUEUE_USER": "",
  "QUEUE_HOST": "localhost",
  "QUEUE_PORT": 5672,
  "BOT_SECRET": "",
  "BOT_SERVER_NAME": ""
}